{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load booking %}
{% load static %}

{% block content %}
<div class="card card-booking my-5 mx-auto">
    <div class="card-body">
        <!-- 検索フォーム -->
        <form class="" method="GET" action="#">
            <input class="data" name="q" value="{{request.GET.q}}">
            <button type="submit" value="search" class="btn btn-primary">検索</button>
        </form>
        <!-- 検索フォーム -->

        <h5 class="card-title text-center">予約情報</h5>
        <form method="post">
            {% csrf_token %}
            <table class="booking_table table-bordered mb-4">
                <tbody>
                <tr>
                    <th class="header">店舗</th>
                    <td class="data">{{ staff_data.store.name }}店</td>
                </tr>
                <tr>
                    <th class="header">スタッフ</th>
                    <td class="data">{{ staff_data.user.first_name }} {{ staff_data.user.last_name }}</td>
                </tr>
                <tr>
                    <th class="header">日程</th>
                    <td class="data">

                        {{ year }}年{{ month }}月{{ day }}日 {{ hour }}:00
                    </td>
                </tr>
                    <tr>
                        <th class="header">ID</th>
                        <td class="data">
                            {{ pt_id }}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">患者名</th>
                        <td class="data">
                            {{ pt_name }}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">検査部位</th>
                        <td class="data">
                            {{ pt_name }}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">左右</th>
                        <td class="data">
                            {{ pt_name }}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">備考</th>
                        <td class="data">
                            {% render_field form.pt_remarks class="form-control" placeholder="備考" %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button mx-auto">
                <button class="btn btn-lg btn-warning btn-block" type="submit">予約確定</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block month %}
   <div class="d-flex mb-2">
        <div class="mx-0 mx-auto mt-2">
            <a href="{% url 'booking' staff_data.pk week_previous.year week_previous.month week_previous.day %}">前週</a>
        </div>
        <div class="mx-0 mx-auto mt-2">
            <a href="{% url 'booking' staff_data.pk week_next.year week_next.month week_next.day %}">次週</a>
        </div>
    </div>
    <div class="">
        <table class="table table-sm-booking table-dark">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    {% for day in week_days %}
                        {% if day.weekday == 5 %}
                            <th scope="col" class="p-0 text-primary">{{ day | date:"d" }}</th>
                        {% elif day.weekday == 6 %}
                            <th scope="col" class="p-0 text-danger">{{ day | date:"d" }}</th>
                        {% else %}
                            <th scope="col" class="p-0">{{ day | date:"d" }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for hour, schedules in week_day_schedules.items %}
                    <tr>
                        <td scope="row" class="p-0" style="font-size:10px">{{ hour }}:00</td>
                        {% for datetime, book in schedules.items %}
                            <td class="p-0" style="font-size:10px">
                                {% is_1hour_later datetime hour as ok %}
                                {% if not ok %}
                                    -
                                {% elif book|length < 1 %}
                                    <a href="{% url 'booking' staff_data.pk datetime.year datetime.month datetime.day hour %}" class="p-0" style="font-size:10px">
                                        ○
                                    </a>
                                {% else %}
                                    {% for b in book %}
                                        {{b.pt_name}}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}