{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="row">
    <div class="text-center my-3 col-lg-6 col-md-6">
        <h5 class="card-title">予約情報</h5>
        <table class="booking_table table-bordered mb-4 mx-auto">
            <tbody>
            {% for b in booking_data %}
            <tr>
                <th class="header">店舗</th>
                <td class="data">{{ b.modality_data.name }}店</td>
            </tr>
            {% endfor %}
            <tr>
                <th class="header">スタッフ</th>
                <td class="data">{{ staff_data.user.first_name }} {{ staff_data.user.last_name }}</td>
            </tr>
            <tr>
                <th class="header">モダリティ</th>
                <td class="data">{{ modality_data.name }}</td>
            </tr>
            <tr>
                <th class="header">日程</th>
                <td class="data">

                    {{ year }}年{{ month }}月{{ day }}日 {{ hour }}:{{ minute }}
                </td>
            </tr>
                <tr>
                    <th class="header">ID</th>
                    <td class="data">
                        {{ pt_id }}
                    </td>
                </tr>
                <tr>
                    <th class="header">患者名</th>
                    <td class="data">
                        {{ pt_name }}
                    </td>
                </tr>
                <tr>
                    <th class="header">パーツ</th>
                    <td class="data">
                        {{ parts }}
                    </td>
                </tr>
                <tr>
                    <th class="header">カテゴリ</th>
                    <td class="data">
                        {{ category }}
                    </td>
                </tr>
                <tr>
                    <th class="header">備考</th>
                    <td class="data">
                        {{ order_remarks }}
                    </td>
                </tr>
                <tr>
                    <th class="header">備考</th>
                    <td class="data">
                        {% render_field form.pt_remarks class="form-control" placeholder="備考" %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center col-lg-6 col-md-6 my-3">
        <h5 class="card-title">オーダー</h5>
        <form action="" method="POST">
            <style>
                .wrap {
                  margin: 2em 0;
                  padding: 0;
                }

                .wrap label {
                  display: block;
                  padding : 8px;
                  color: #fff;
                  font-weight: bold;
                  background: #999;
                  cursor: pointer;
                }

                .wrap input[type="checkbox"] {
                  display: none;
                }

                .wrap .content {
                  height: 0;
                  padding: 0;
                  overflow: hidden;
                  margin-bottom: 10px;
                  border: 1px solid #ccc;
                }

                .content .label-sm{
                    display: inline; /* ブロックレベル要素化する */
                    float: left; /* 要素の左寄せ・回り込を指定する */
                    margin-left: 3px; /* ラベル外側の余白を指定する */
                    margin-rihgt: 3px; /* ラベル外側の余白を指定する */
                    width: 120px; /* ラベルの横幅を指定する */
                    height: auto;
                    line-height: 20px;
                    text-align: center; /* テキストのセンタリングを指定する */
                    padding: 0;

                    cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */

                    border: 2px solid #006DD9;/* ラベルの境界線を実線で指定する */
                    border-radius: 20px; /* 角丸を指定する */
                    color: #006DD9; /* マウス選択時のフォント色を指定する */
                    background: #ffffff;
                }

                .switch:checked + .content {
                  height: auto;
                  padding: 8px;
                  background: #f7f7f7;
                }

                .input[type="checkbox"]:checked + .label-sm {
                    background: #31A9EE;/* マウス選択時の背景色を指定する */
                    color: #ffffff; /* マウス選択時のフォント色を指定する */
                }
            </style>
            <div class="wrap">
                <!-- １つ目 -->
                <label for="label1">▼ クリックで展開1</label>
                <input type="checkbox" id="label1" class="switch" />
                <!-- ↓↓最初隠したいコンテンツ↓↓ -->
                <div class="content">
                <table>
                    <tr class="pb-3">
                        <th>脊椎</th>
                        <td>
                            <input class="input" type="checkbox" name="parts" value="腰椎" id="n_spine">
                            <label class="label-sm" for="n_spine">頸椎</label>
                            <input class="input" type="checkbox" name="parts" value="胸椎" id="t_spine">
                            <label class="label-sm" for="t_spine">胸椎</label>
                            <input class="input" type="checkbox" name="parts" value="胸腰椎移行部" id="tl_spine">
                            <label class="label-sm" for="tl_spine">胸腰椎移行部</label>
                            <input class="input" type="checkbox" name="parts" value="腰椎" id="l_spine">
                            <label class="label-sm" for="l_spine">腰椎</label>
                        </td>
                    </tr>
                    <tr class="pb-3">
                        <th>上腕</th>
                        <td>
                            <input class="input" type="checkbox" name="parts" value="肩" id="shoulder">
                            <label class="label-sm" for="shoulder">肩</label>
                            <input class="input" type="checkbox" name="parts" value="上腕" id="upper_arm">
                            <label class="label-sm" for="upper_arm">上腕</label>
                        </td>
                    </tr>
                    <tr class="pb-3">
                        <th>下肢</th>
                        <td>
                            <input class="input" type="checkbox" name="parts" value="大腿" id="femur">
                            <label class="label-sm" for="femur">大腿</label>
                            <input class="input" type="checkbox" name="parts" value="膝" id="knee">
                            <label class="label-sm" for="knee">膝</label>
                            <input class="input" type="checkbox" name="parts" value="下腿" id="lower_leg">
                            <label class="label-sm" for="lower_leg">下腿</label>
                        </td>
                    </tr>
                    <tr class="pb-1">
                        <th>カテゴリ</th>
                        <td align="left">
                            {% csrf_token %}
                            {{ form.category }}
                        </td>
                    </tr>
                    <tr class="pb-1">
                        <th>備考</th>
                        <td>
                            {% csrf_token %}
                            {{ form.order_remarks }}
                        </td>
                    </tr>
                </table>
                </div>
                <!-- ↑↑最初隠したいコンテンツ ↑↑-->
            </div>
            <button class="btn btn-lg btn-warning btn-block" type="submit">予約確定</button>
         </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block extrajs %}
    <div>
        <script>
            const parentCategoryElement = $('#id_parent_category');
            const categoryElement = $('#id_category');
            const categories = {
                {% for parent in parentcategory_list %}
                    '{{ parent.pk }}': [
                        {% for category in parent.category_set.all %}
                            {
                                'pk': '{{ category.pk }}',
                                'name': '{{ category.name }}'
                            },
                        {% endfor %}
                    ],
                {% endfor %}
            };


            const changeCategory = (select) => {
                // 子カテゴリの選択欄を空にする。
                categoryElement.children().remove();

                // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
                const parentId = parentCategoryElement.val();
                const categoryList = categories[parentId];

                // 子カテゴリの選択肢を作成・追加。
                for (const category of categoryList) {
                    const option = $('<option>');
                    option.val(category['pk']);
                    option.text(category['name']);
                    categoryElement.append(option);
                }

                // 指定があれば、そのカテゴリを選択する
                if (select !== undefined) {
                    categoryElement.val(select);
                }
            };


            $('#id_parent_category').on('change', () => {
                changeCategory();
            });


            // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
            if (parentCategoryElement.val()) {
                const selectedCategory = categoryElement.val();
                changeCategory(selectedCategory);
            }

        </script>
    </div>
    {% endblock %}
</div>
<style>


</style>
{% endblock %}
